% rebase('layout.tpl', title=title, year=year)


<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
	<!--- <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" /> -->
	<link rel="stylesheet" type="text/css" href="/static/content/qwe.css" />
</head>

<body>

	<div class="container-custom">

		<img class="image-custom image-sm" src="\static\images\mnt.jpg">

		<div class="tb lg">
			Lorem ipsum.
		</div>

		<div class="tb sm">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
		</div>

		<div>
			<iframe class="video-custom" height="600" width="1000" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
		</div>

		<div class="tb sm">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
		</div>

		<div class="row">
			<div class="column-2">
				<img src="\static\images\mnt.jpg" alt="Mountains" style="width:20%">
			</div>
			<div class="column-2">
				<img src="\static\images\mnt.jpg" alt="Mountains" style="width:20%">
			</div>
		</div>


	</div>
	<footer> </footer>
</body>
</html>