% rebase('layout.tpl', year=year)



<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/content/our_cute_style.css" />
</head>
<body>
	<div class="container-custom">
		<div class="text-center">

			<img class="img-thumbnail img-thumbnail-custom" width="274" height="204" src="../static/images/411px-Anatoli_Bukrejev_Kasahstani_alpinist_1991.jpg" />g">

			<figure class="text-center">
				<blockquote class="blockquote">
					<p class="mb-0">Приключения случаются только если ты идёшь туда, куда не следует.</p>
				</blockquote>
				<figcaption class="blockquote-footer">
					Стэн Марш из<cite title="Source Title">Южного Парка</cite>
				</figcaption>
			</figure>
		</div>

		<div class="tb sm">
			<h2>Анато́лий Никола́евич Букре́ев </h2>
			<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p>The following is <strong>rendered as bold text</strong>.</p>
			<p>The following is <em>rendered as italicized text</em>.</p>
			<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>

			<div class="text-center">
				<iframe class="size-400-200" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
			</div>


		</div>
	</div>
</body>
</html>