* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(http://habrastorage.org/files/996/d76/d04/996d76d0410d422fa54cc433ce7ead2a.png);
    background: #d9d5e8;
    margin: 0;
}

.wrapper {
    height: 700px;
    margin: 0 auto 0;
    position: relative;
    width: 100%;

}

.slider {
    background-color: #ddd;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slide1 {
    background-image: url(../images/mnt.jpg);
    background-size: cover;
}

.slide2 {
    background-image: url(http://habrastorage.org/files/3e1/95d/c7f/3e195dc7f5a64469807f49a14f97ba0e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3 {
    background-image: url(http://habrastorage.org/files/663/6b1/d4f/6636b1d4f8e643d29eab8c192fc1cea3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide4 {
    background-image: url(http://habrastorage.org/files/e59/424/c04/e59424c046be4dab897d84ab015c87ea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide5 {
    background-image: url(http://habrastorage.org/files/53c/ff6/c1c/53cff6c1caf842368c70b8ef892d8402.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .controls {
    left: 50%;
    margin-left: -98px;
    position: absolute;
}

.wrapper label:after {
        border: 2px solid #ddd;
        content: " ";
        display: block;
        height: 12px;
        left: -2px;
        position: absolute;
        top: -2px;
        width: 12px;
        border-radius: 50%;
}

.wrapper label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}

    .wrapper label:hover,
    #slide1:checked ~ .controls label:nth-of-type(1),
    #slide2:checked ~ .controls label:nth-of-type(2),
    #slide3:checked ~ .controls label:nth-of-type(3),
    #slide4:checked ~ .controls label:nth-of-type(4),
    #slide5:checked ~ .controls label:nth-of-type(5) {
        background: #ddd;
    }

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.wrapper > input {
    display: none;
}

div {
    display: block;
}

.container-custom {
    background: #fff;
    width: 90%;
    min-height: 1000px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: #202020 5px 5px 15px;
}


.image-custom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.tb {
    padding: 40px;
    color: #000;
}

.sm {
    margin-top: 50px;
    font-size: 25px;
}

.lg {
    font-size: 40px;
}

header {
    background-color: #a38ef5;
}

footer {
    color: #000;
    margin: 20px;
}
