body {
	background: #ff8080;
	margin: 0;
}

div {
	display: block;
}

.images-container {
	width: 500px;
	height: 300px;
	margin: auto;
	margin-top: 25px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}
.container-custom {
	background: #fff;
	width: 90%;
	min-height: 1000px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: #202020 5px 5px 15px;
}

/* Two image containers (use 33.33% for three, and 25% for four, etc) */
.column-2 {
	float: left;
	width: 50%;
	padding: 5px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column-3 {
	float: left;
	width: 33.33%;
	padding: 5px;
}
.image1 {
    animation-delay: 7.5s;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}
.image2 {
    animation-delay: 5s;
}


.images-container {
	width: 500px;
	height: 300px;
	margin: auto;
	margin-top: 25px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}
.image3 {
    animation-delay: 2.5s;
}

.image1 {
	animation-delay: 7.5s;
.image4 {
    animation-delay: 0s;
}

.image2 {
	animation-delay: 5s;
}

.image3 {
	animation-delay: 2.5s;
}

.image4 {
	animation-delay: 0s;
}

@keyframes slide {
	from {
		top: 0;
		left: 0;
	}

	12.5% {
		transform: translate(0px, 0px);
	}

	25% {
		transform: translate(-500px, 0);
	}

	36% {
		transform: translate(-500px, 300px);
	}

	37% {
		transform: translate(500px, 300px);
	}

	87.5% {
		transform: translate(500px, 0);
	}

	to {
		transform: (0px, 0px);
	}
}

.image-custom-rel {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.image-sm {
	height: 50%;
	width: 50%;
}

.video-custom {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.image-custom-abs {

    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

.tb {
	padding: 40px;
	color: #000;
}

.sm {
	font-size: 25px;
}
.lg {
	font-size: 40px;
}
footer {
	color: #000;
	margin: 20px;
}
